# Dev
**/.idea/
**/site/

# Python
*~
**.log
**.pyc
**.pyo
**.pyt
**.pytc
**.egg-info
.*.swp
**/venv/
**/venv3/
**/.venv/
**/.cache/
**/build/
**/.vscode/
**/.coverage
**/.mypy_cache
**/.pytest_cache

# macOS
**/.DS_Store

# IntelliJ
**.iml
**/.idea

# mysql data and config
./mysql/data
./mysql/etc

**/docker

./atlas_amundsen_import.md